body{
    font-family: 'Lora', sans-serif;
    display: grid;
    height: 100vh;
    background: linear-gradient(to right, rgb(25, 79, 69), rgb(85, 173, 163));
    grid-template: repeat(5, 1fr) /  repeat(3, 1fr);
}

#logoContainerDiv{
    display: block;
    height: 75vh;
    grid-area: 2 / 1 / auto / span 3;
    text-align: center;
    justify-self: center;
    align-self: center;
}


#tagLine{
    grid-area: 3 / 2 / auto / span 2;
    opacity: 0;
    animation: tagAnimation 2s 3s forwards ease-in-out;
}

h1{
    font-size: 2.5em;
    color: rgb(7, 45, 49);
}

@keyframes tagAnimation{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        transform: translateY(-20vh);

        }
}


#logo{
    height: 100%;
    width: 75vw;
}

svg{
    filter: drop-shadow(5px 5px 5px)
}
svg:hover{
    filter: drop-shadow(6px 6px 5px)
}

#logoPath {
    width: 100%; 
    height: auto;
    stroke:black;
    stroke-width: 1;
    stroke-dasharray: 2375;
    stroke-dashoffset: 2375;
    fill-opacity: 0;
    animation: dash 3.2s ease-in forwards;
}
  
  @keyframes dash {
    to { 
        fill-opacity: .85;
        stroke-dashoffset: 0; 
    }
  }

  