
:root {
    --text-color: rgb(255, 251, 235); 
}


body, html {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, rgb(25, 79, 69), rgb(62, 214, 197));
}

nav{
    display: flex;
    height: 7vh;
    justify-content: flex-end;
    position: sticky;
    top: 20px;
}

nav a{
    display: block;
    text-align: center;
    width: 7vw;
    height: 34px;
    margin-right: 10px;
    color: black;
    line-height: 2;
    border-radius: 5px;
    transition-property: background-color color;
    transition-duration: .6s;
    opacity: 0;
    animation: navAnimation 2.5s 4.5s forwards ease-in-out;
    text-decoration: none;
}


@keyframes navAnimation {
    to{
        opacity: 1;
    }
}

nav a:hover{
    color: var(--text-color);
    background-color: red;
    box-shadow: 3px 3px 10px black;
    transform: translate(background-color);
}

header {
    display: grid;
    height: 93vh;
    grid-template: repeat(5, 1fr) /  repeat(3, 1fr);
}

#logoContainerDiv {
    display: block;
    height: 75vh;
    grid-area: 2 / 1 / auto / span 3;
    text-align: center;
    justify-self: center;
    align-self: center;
}


#tagLineDiv {
    grid-area: 3 / 2 / auto / span 2;
    opacity: 0;
    animation: tagAnimation 2s 3s forwards ease-in-out;
}
   
    @keyframes tagAnimation {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: translate(2.2vw, -19vh);
        }
    }

    #logo {
        height: 100%;
        width: 75vw;
    }

#tagLine {
    font-size: 5vh;
    color: rgb(7, 45, 49);
}

#tagLineDiv h2{
    margin: 2em 0 0 2em;
}

#subTag{
    border-left: 2px solid rgb(255, 0, 0);
    padding-left: 5px;
}

svg{
    filter: drop-shadow(5px 5px 5px)
}
svg:hover {
    filter: drop-shadow(6px 6px 5px);
}

#logoPath {
    width: 100%; 
    height: auto;
    stroke:black;
    stroke-width: 1;
    stroke-dasharray: 2375;
    stroke-dashoffset: 2375;
    fill-opacity: 0;
    animation: drawLogo 3.1s ease-in-out forwards;
}
  
    @keyframes drawLogo {
        to { 
            fill-opacity: .85;
            stroke-dashoffset: 0; 
        }
    }


#portfolio{
    height: 90vh;
    padding-top: 7vh;
}

#mobilFeature{
    display: none
}

#works {
    margin: 0 15vw 0 15vw;
    animation: moveWorkUp 3s forwards 3.5s linear;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: start;
    height: 30vh;
}


.thumbs {
    text-align: center;
    margin:1.5em;
    display: inline-block;
    width: 20vh;
    height: 20vh;
    box-shadow: 2px 2px 20px;
    flex: 0 0 auto;
    transition-property: width height;
    transition-duration: .4s;
    border-radius: 50%;
    border: 1px solid black;
    text-shadow: 1px 1px black;
}
.thumbs:hover { 
    box-shadow: 6px 6px 30px;
    cursor: pointer;
    height: 21.5vh;
    width: 21.5vh;
    transform: translate(height);
}
#works div img{
    width: 100%;
    height: 100%;
}
#works h3{
    color:var(--text-color);
}

#feature{
    height: 55vh;
    margin: 0 18vw 0 18vw;
    box-shadow: 2px 2px 15px black;
    padding: 10px;
    color: var(--text-color);
    border: 4px solid red;
    border-radius: 10px;
    border-style: groove;
}
#featureInfo{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    border-right: 2px solid red;
    text-shadow: 1px 1px black;
}

/* #featureTitle{
;
} */

#featureInfo p{
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.25em;
    text-align: left;
    width: 80%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#implimentedTech{
    background-color: red;
}


#screenShot{
    display: inline-block;
    width: 68%;
    height: 100%;
    box-shadow: 5px 5px 20px black; 
}
#screenShot img{
    width: 100%;
    height: 100%;
    padding-left: 3px;
}

footer{
    height: 20vh;
    text-align: center;
    margin-top: 50px;
}


@media only screen and (max-device-width : 1366px) {
   
    #works div{
        width: 30vw;
        height: 30vw;
    }
    h1{
        line-height: 80px;
    }
    @keyframes moveWorkUp{
        100%{
            transform: translateY(-15%);
            }
    }
} 


@media only screen and (max-device-width : 812px) {

    #tagLine{
        font-size: 1.5em;
    }

    #mobilFeature{
        display: block;
        width: 99vw;
        height: 99vh;
        border: 4px solid red;
        border-radius: 2px;
        border-style: groove;
        box-sizing: border-box;
        border-radius: 10px;
        margin: auto;
        position: relative;
        color: var(--text-color);
    }
    
    #works div, #feature{
        display:none;
    }
}


@media only screen and (max-device-width : 414px){
    #mobilFeature{
        display: block;
        width: 99vw;
        height: 99vh;
        border: 4px solid red;
        border-radius: 2px;
        border-style: groove;
        box-sizing: border-box;
        border-radius: 10px;
        margin: auto;
        position: relative;
    }

    #screenShot {
        display: inline-block;
        width: 64%;
        height: 50%;
        margin: 10px auto;
    }

    #works div,  #feature{
        display: none;
    }
    h1{
        line-height: 1.19;
    }
}
                            