
:root {
    --text-color: rgb(255, 251, 235); 
}


body, html {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, rgb(25, 79, 69), rgb(62, 214, 197));
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
    padding: 0;
    line-height: 1.5em;
}

nav{
    display: flex;
    height: 7vh;
    justify-content: flex-end;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    z-index: 1;
}

nav a{
    display: block;
    text-align: center;
    width: 7vw;
    height: 34px;
    margin-right: 10px;
    color: black;
    line-height: 2;
    border-radius: 5px;
    transition-property: background-color color;
    transition-duration: .6s;
    opacity: 0;
    animation: navAnimation 2.5s 4.5s forwards ease-in-out;
    text-decoration: none;
}

nav a:last-child{
    margin-right: 100px;
}

@keyframes navAnimation {
    to{
        opacity: 1;
    }
}

nav a:hover{
    color: var(--text-color);
    background-color: red;
    box-shadow: 3px 3px 10px black;
    transform: translate(background-color);
}

header {
    display: grid;
    height: 93vh;
    grid-template: repeat(5, 1fr) /  repeat(3, 1fr);
}

#logoContainerDiv {
    display: block;
    height: 75vh;
    grid-area: 2 / 1 / auto / span 3;
    text-align: center;
    justify-self: center;
    align-self: center;
}


#tagLineDiv {
    grid-area: 3 / 2 / auto / span 2;
    opacity: 0;
    animation: tagAnimation 2s 3s forwards ease-in-out;
}
   
    @keyframes tagAnimation {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: translate(2.2vw, -19vh);
        }
    }

    #logo {
        height: 100%;
        width: 75vw;
    }

#tagLine {
    font-size: 5vh;
    color: rgb(7, 45, 49);
}

#tagLineDiv h2{
    margin: 2em 0 0 2em;
}

#subTag{
    border-left: 2px solid rgb(255, 0, 0);
    padding-left: 5px;
}

svg{
    filter: drop-shadow(5px 5px 5px)
}
svg:hover {
    filter: drop-shadow(6px 6px 5px);
}

#logoPath {
    width: 100%; 
    height: auto;
    stroke:black;
    stroke-width: 1;
    stroke-dasharray: 2375;
    stroke-dashoffset: 2375;
    fill-opacity: 0;
    animation: drawLogo 3.1s ease-in-out forwards;
}
  
    @keyframes drawLogo {
        to { 
            fill-opacity: .85;
            stroke-dashoffset: 0; 
        }
    }


#portfolio{
    /* padding-top: 7vh; */
    display: flex;
    text-align: center;
    height: 100vh;
    background-color: rgba(7, 45, 49, .15);
}


#feature{
    height: 75vh;
    width: 70vw;
    display: flex;
    margin: auto;
    box-shadow: 2px 2px 15px black;
    padding: 10px;
    color: var(--text-color);
    border: 4px solid red;
    border-radius: 10px;
    border-style: groove;
    vertical-align: top;
    text-shadow: 1px 1px black;
    overflow: scroll;
}

#featureContentWrapper{
    display: inline-block;
    width: 95%;
    margin: 0 auto;
}

#featureInfo h2{
    display: flex;
    margin: 10px 0px 5px 0px;
    align-items: center;
    justify-content: center;
}

#featureTitle{
    margin: 0px 60px;
}

#featureInfo p{
    margin: 0 2em 20px 2em;;
    padding-top: 1em;
    border-top: 1px solid red;
    text-align: left;
    line-height: 1.3em;
}
#featureInfo p > :first-child{
    font-size: 1.5em;
    color: red;
}
#featureInfo img{
    width: 10vh;
    height: 10vh;
    margin: 5px 60px;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%
}
.arrowContainer{
    display: flex;
    margin: auto;
}
.arrows{
    color: var(--text-color);
    font-size: 3em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.arrows:hover{
    background-color: rgba(163, 177, 171, .25);
    color: black;
    
}

#screenShot{
    height: 60%;
    width: 60%;
    display: inline-block;
}

#imageContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 18px;
}

#screenShot img{
    max-width:100%; 
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black; ;
}

#additionalInfoContainer{
    display: inline-block;
    width: 30%;
    height: 58%;
    vertical-align: top;
}

#additionalInfo{
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
}

#additionalInfo img{
    width: 6vw;
    height: 6vw;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 15px black;
}
#additionalInfo h4{
    border-top:1px solid red;
    width: 10vw;
    padding-top: 18px;
    margin: 5px 0 10px 5vw;
}
#tech li:hover{
    color: red;
}

#contact{
    height: 75vh;
    position: relative;
    color: var(--text-color);
    text-shadow: 1px 1px black
}

#email{
    text-align: center;
    padding-top: 10vh;
}

#email h2{
    margin: 0;
}

#contactContent{
    height: 85%;
    display: flex;
    justify-content: space-evenly;
}

#contactContent div{
    align-self: center;
    width: 16vh;
    height: 16vh;
    text-align: center;
}
#contactContent div img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
    box-shadow: 3px 3px 15px black;
    border: 1px solid rgb(3, 46, 39);
}

#contactContent div img:hover{
    box-shadow: 5px 5px 20px black;
}

#contact::after {
    content: "";
    background: url("/images/algorithmMaze.jpg");
    opacity: 0.075;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

footer{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15%;
    background: linear-gradient(to right, rgb(25, 79, 69), rgb(62, 214, 197));
}

footer h4{
    line-height: 3em;
}

@media only screen and (max-device-width : 1366px) {
   
    h1{
        line-height: 80px;
    }
    #worksContainer{
        width: 20vw;
    }
    #feature{
        width:65vw;
    }
    nav{
        top: 40px
    }
    nav a {
        width: 10vw;
    }
    nav a:last-child{
        margin-right: 50px;
    }
    #featureImage{
        margin-top: 45px;
    }
    footer{
        font-size: .8em;
    }
} 


@media only screen and (max-device-width : 812px) {

    h3{
        font-size: 1em;
    }
    nav a{
        font-size: .85em;
        line-height: 1.5em;
        height: 23px;
        margin: 0;
    }
    #tagLine{
        font-size: 1.5em;
    }
    nav{
        top: 10px;
    }
    #portfolio{
        padding-top: 4vh;
    }
    #additionalInfo{
        display: block;
    }
    #additionalInfo h4{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #screenShot img{
        margin-top: 25px;
    }
    #contact{
        height: 93vh;
    }
    #contactContent{
        height:60%;
    }
    #contactContent div{
        margin-bottom: 30px;
    }
    #contactContent div h3{
        font-size: .9em;
    }

}


@media only screen and (max-device-width : 414px){
   
    #screenShot {
        display: inline-block;
        width: 64%;
        height: 50%;
        margin: 10px auto;
    }
    #contactContent{
        flex-direction: column;
        height: 75vh;
    }
    #contactContent div h3{ 
    display: none;
    }
    nav{
        top: 20px
    }
    nav a{
        width: 25vw;
    }
    h1{
        line-height: 1.19;
    }
}
                            